MSE = sigma((y-ycap)^2)/n

RMSE = underroot{(sigma i=1 to n (predicted - actual)^2)/N}

In [27]:
import math
import numpy as np
import sklearn.metrics

actual=[1,3,6,4,2]
predicted=[2.6,1.5,3.9,7,4.1]

In [33]:
MAE=np.mean(np.abs(np.array(actual)-np.array(predicted)))
# mae=sklearn.metrics.mean_absolute_error(actual,predicted)
print('MAE:', MAE)

MSE=np.square(np.subtract(actual,predicted)).mean()
# mse=sklearn.metrics.mean_squared_error(actual,predicted)
print('MSE:', MSE)

RMSE=math.sqrt(MSE)
# rmse=sklearn.metrics.mean_squared_error(actual,predicted,squared=False)
print('RMSE:', RMSE)

MAE: 2.0599999999999996
MSE: 4.525999999999999
RMSE: 2.127439775880859

## Apply on a dataset

- step 1: importing the required libraries
- step 2: loading the dataset
- step 3: lets check for any missing or NA values in the dataset

In [34]:
import pandas as pd
df=pd.read_csv('../datasets/cars.csv')
df.head()

    mpg   cylinders  cubic   hp  weight   time   year     brand
0  14.0           8    350  165    4209     12   1972       US.
1  31.9           4     89   71    1925     14   1980   Europe.
2  17.0           8    302  140    3449     11   1971       US.
3  15.0           8    400  150    3761     10   1971       US.
4  30.5           4     98   63    2051     17   1978       US.