# Import libraries

In [2]:
import numpy as np
import pandas as pd

# Import dataset

In [3]:
df=pd.read_csv("datasets/cars.csv")
df

      mpg   cylinders  cubic   hp  weight   time   year     brand
0    14.0           8    350  165    4209     12   1972       US.
1    31.9           4     89   71    1925     14   1980   Europe.
2    17.0           8    302  140    3449     11   1971       US.
3    15.0           8    400  150    3761     10   1971       US.
4    30.5           4     98   63    2051     17   1978       US.
..    ...         ...    ...  ...     ...    ...    ...       ...
256  17.0           8    305  130    3840     15   1980       US.
257  36.1           4     91   60    1800     16   1979    Japan.
258  22.0           6    232  112    2835     15   1983       US.
259  18.0           6    232  100    3288     16   1972       US.
260  22.0           6    250  105    3353     15   1977       US.

[261 rows x 8 columns]

In [4]:
df.head()

    mpg   cylinders  cubic   hp  weight   time   year     brand
0  14.0           8    350  165    4209     12   1972       US.
1  31.9           4     89   71    1925     14   1980   Europe.
2  17.0           8    302  140    3449     11   1971       US.
3  15.0           8    400  150    3761     10   1971       US.
4  30.5           4     98   63    2051     17   1978       US.

In [5]:
df.tail()

      mpg   cylinders  cubic   hp  weight   time   year    brand
256  17.0           8    305  130    3840     15   1980      US.
257  36.1           4     91   60    1800     16   1979   Japan.
258  22.0           6    232  112    2835     15   1983      US.
259  18.0           6    232  100    3288     16   1972      US.
260  22.0           6    250  105    3353     15   1977      US.

# Basic information

In [6]:
df.shape

(261, 8)

In [7]:
df.index

RangeIndex(start=0, stop=261, step=1)

In [8]:
df.columns

Index(['mpg', ' cylinders', ' cubic', ' hp', ' weight', ' time', ' year',
       ' brand'],
      dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261 entries, 0 to 260
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   mpg         261 non-null    float64
 1    cylinders  261 non-null    int64
 2    cubic      261 non-null    object
 3    hp         261 non-null    int64
 4    weight     261 non-null    object
 5    time       261 non-null    int64
 6    year       261 non-null    int64
 7    brand      261 non-null    object
dtypes: float64(1), int64(4), object(3)
memory usage: 16.4+ KB

In [10]:
df.count()

mpg           261
 cylinders    261
 cubic        261
 hp           261
 weight       261
 time         261
 year         261
 brand        261
dtype: int64

# Summary

In [11]:
df.sum()

mpg                                                      6040.8
 cylinders                                                 1459
 cubic        3508930240098350351440183891089730235022535085...
 hp                                                       27760
 weight       4209192534493761205139004363431235302050224521...
 time                                                      4058
 year                                                    515950
 brand         US. Europe. US. US. US. US. US. US. Europe. J...
dtype: object

In [12]:
df.cumsum()

,mpg,cylinders,cubic,hp,weight,time,year,brand
0,14.0,8,350,165,4209,12,1972,US.
1,45.9,12,35089,236,42091925,26,3952,US. Europe.
2,62.9,20,35089302,376,420919253449,37,5923,US. Europe. US.
3,77.9,28,35089302400,526,4209192534493761,47,7894,US. Europe. US. US.
4,108.4,32,3508930240098,589,42091925344937612051,64,9872,US. Europe. US. US. US.
...,...,...,...,...,...,...,...,...
256,5942.7,1437,3508930240098350351440183891089730235022535085...,27383,4209192534493761205139004363431235302050224521...,3996,508039,US. Europe. US. US. US. US. US. US. Europe. J...
257,5978.8,1441,3508930240098350351440183891089730235022535085...,27443,4209192534493761205139004363431235302050224521...,4012,510018,US. Europe. US. US. US. US. US. US. Europe. J...
258,6000.8,1447,3508930240098350351440183891089730235022535085...,27555,4209192534493761205139004363431235302050224521...,4027,512001,US. Europe. US. US. US. US. US. US. Europe. J...
259,6018.8,1453,3508930240098350351440183891089730235022535085...,27655,4209192534493761205139004363431235302050224521...,4043,513973,US. Europe. US. US. US. US. US. US. Europe. J...
260,6040.8,1459,3508930240098350351440183891089730235022535085...,27760,4209192534493761205139004363431235302050224521...,4058,515950,US. Europe. US. US. US. US. US. US. Europe. J...

In [13]:
df.min()

mpg               10.0
 cylinders           3
 cubic
 hp                 46
 weight
 time                8
 year             1971
 brand         Europe.
dtype: object

In [14]:
df.max()

mpg           46.6
 cylinders       8
 cubic          98
 hp            230
 weight       4997
 time           25
 year         1983
 brand         US.
dtype: object

In [15]:
df.describe()

              mpg   cylinders          hp        time         year
count  261.000000  261.000000  261.000000  261.000000   261.000000
mean    23.144828    5.590038  106.360153   15.547893  1976.819923
std      7.823570    1.733310   40.499959    2.910625     3.637696
min     10.000000    3.000000   46.000000    8.000000  1971.000000
25%     16.900000    4.000000   75.000000   14.000000  1974.000000
50%     22.000000    6.000000   95.000000   16.000000  1977.000000
75%     28.800000    8.000000  138.000000   17.000000  1980.000000
max     46.600000    8.000000  230.000000   25.000000  1983.000000

In [16]:
df.mean()

C:\Users\ADITHYA\AppData\Local\Temp\ipykernel_13300\3698961737.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

mpg             23.144828
 cylinders       5.590038
 hp            106.360153
 time           15.547893
 year         1976.819923
dtype: float64

In [17]:
df.median()

C:\Users\ADITHYA\AppData\Local\Temp\ipykernel_13300\530051474.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.median()

mpg             22.0
 cylinders       6.0
 hp             95.0
 time           16.0
 year         1977.0
dtype: float64

# Missing values

In [18]:
df.isnull().sum()

mpg           0
 cylinders    0
 cubic        0
 hp           0
 weight       0
 time         0
 year         0
 brand        0
dtype: int64